.html {
  width: 100%;
  height: 100%;
}
.body {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nazvanie {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.baby {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}
.dady {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}
.Webstudio {
  justify-content: space-between;
  padding-top: 10px;
  line-height: 31px;
}
.